.container {
  margin-inline: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1;
  color: var(--neutral-900);
  font-size: 1.75rem;
  font-weight: 600;
  margin: 1rem 0 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--neutral-700);
}

.input {
  padding: 0.75rem 1rem;
  border: 1px solid var(--neutral-300);
  border-radius: 10px;
  background-color: var(--neutral-100);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: var(--primary-400);
  background-color: var(--white);
  box-shadow: 0 0 0 3px rgba(100, 116, 139, 0.2);
  outline: none;
}

.hiddenInput {
  display: none;
}

.error {
  color: var(--accent-500);
  background-color: var(--accent-100);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
}
