

.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  padding: 0px 5rem 32px 5rem;
}

@media screen and (max-width: 768px) {
  .content{
    padding: 32px 16px 0px 16px;
  }
}